# Distribution / packaging
*.egg-info/
*.egg
dist
build

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# OS X
.DS_Store

*.pyc
*.jpg
*.jpeg
*.png
*.geojson
