# Pyenv
.python-version

# Distribution / packaging
*.egg-info/
*.egg
dist
build
scratch

# Unit test / coverage reports
htmlcov/
.tox/
.coverage*
.cache
nosetests.xml
coverage.xml
.coverage.*

# OS X
.DS_Store

*.pyc

# Editors
.vscode/
# Docs build
site
.venv
