site_name: Planet SDK for Python
site_description: Python client library for Planet's APIs.
site_url: https://planetlabs.github.io/planet-client-python/

theme:
    name: 'material'
    logo: img/logo.svg
    favicon: img/logo.svg

extra:
  version:
    provider: mike
    
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          rendering:
            show_root_heading: true
          selection:
            inherited_members: true
            filters:
              - "!^_"  # exlude all members starting with _
              - "^__init__$"  # but always include __init__ modules and methods
      watch:
        - planet

repo_name: planetlabs/planet-client-python
repo_url: https://github.com/planetlabs/planet-client-python
edit_uri: ""

nav:
    - Introduction: 'index.md'
    - User Guide: 'guide.md'
    - Upgrading: 'upgrading.md'
    - Early Access: 'v2_earlyaccess.md'
    - API Reference: 'api.md'
    - CLI Reference: 'cli.md'

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - mkdocs-click
  - admonition
