site_name: Planet SDK for Python
site_url: https://planet-sdk-for-python-v2.readthedocs.io/en/latest/
site_author: https://developers.planet.com
site_description: >-
  A Python library to discover and retrieve earth observation data from Planet Labs PBC.

repo_name: planetlabs/planet-client-python
repo_url: https://github.com/planetlabs/planet-client-python
edit_uri: ""

theme:
  name: 'material'
  logo: 'images/Planet_primarymark_RGB_White.png'
  favicon: 'images/logo.svg'
  custom_dir: 'docs/custom_theme/'
  features:
    - navigation.tabs
    # - navigation.instant # Not compatible with i18n plugin
    - navigation.tabs.sticky
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - navigation.sections
    - navigation.tracking
    - search.suggest
    - search.highlight
    - toc.follow
    - toc.integrate
  palette:
    - scheme: default
      primary: #007f99
      toggle:
        icon: octicons/moon-24
        name: Switch to dark mode
    - scheme: slate
      primary: #004352
      toggle:
        icon: octicons/sun-24
        name: Switch to light mode

extra:
  company:
    name: "Planet Labs PBC"
  product:
    name: "Planet SDK for Python"

extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          rendering:
            show_root_heading: true
            show_source: false
          selection:
            inherited_members: true
            filters:
              - "!^_"  # exlude all members starting with _
              - "^__init__$"  # but always include __init__ modules and methods
      watch:
        - planet
        - docs/custom_theme/

nav:
  - "Get Started":
    - get-started/quick-start-guide.md
    - get-started/get-your-planet-account.md
    - get-started/venv-tutorial.md
    - get-started/upgrading.md
  - "No Code CLI":
    - cli/cli-guide.md
    - cli/cli-intro.md
    - cli/cli-data.md
    - cli/cli-orders.md
    - cli/cli-subscriptions.md
    - cli/cli-tips-tricks.md
    - cli/cli-reference.md
  - "Python":
    - python/sdk-guide.md
    - python/sdk-reference.md
  - "Resources":
    - resources/index.md
  - "Home": 'index.md'

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - mkdocs-click
  - admonition
  - toc:
      permalink: True
