site_name: Planet SDK for Python
site_description: Python client library for Planet Labs APIs.
site_url: https://planetlabs.github.io/planet-client-python/
site_author: https://developers.planet.com
site_description: >-
  A Python library to connect with Planet Labs PBC, and discover and retrieve earth observation data.

repo_name: planetlabs/planet-client-python
repo_url: https://github.com/planetlabs/planet-client-python
edit_uri: ""

theme:
  name: 'material'
  logo: img/Planet_primarymark_RGB_White.png
  favicon: img/logo.svg
  custom_dir: 'custom_theme/'
  features:
    - navigation.tabs
    # - navigation.instant # Not compatible with i18n plugin
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - navigation.sections
    - navigation.tracking
    - search.suggest
    - search.highlight
    - toc.follow
    - toc.integrate 
  palette:
    - scheme: default
      primary: #007f99
      toggle:
        icon: octicons/moon-24
        name: Switch to dark mode
    - scheme: slate
      primary: #004352
      toggle: 
        icon: octicons/sun-24
        name: Switch to light mode

extra:
  version:
    provider: mike
  company:
    name: "Planet Labs PBC"
  product:
    name: "Planet SDK for Python"

extra_css:
  - stylesheets/extra.css
    
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          rendering:
            show_root_heading: true
          selection:
            inherited_members: true
            filters:
              - "!^_"  # exlude all members starting with _
              - "^__init__$"  # but always include __init__ modules and methods
      watch:
        - planet
        - custom_theme

nav:
  - "Get Started":
    - get-started/quick-start-guide.md
    - get-started/get-a-planet-account.md
    - get-started/upgrading.md
    - get-started/v2_earlyaccess.md
    - get-started/venv-tutorial.md
  - "No Code CLI":
    - cli/cli-concepts.md
    - cli/cli-guide.md
    - cli/cli-plus-tutorial.md
    - cli/cli-tutorial.md
    - cli/cli-reference.md
  - "Python":
    - python/sdk-guide.md
    - python/sdk-reference.md
  - "Resources":
    - resources/index.md
  - "Home": 'index.md'

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - mkdocs-click
  - admonition
